.pagination-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pagination-arrow-previous {
  margin-right: 10px;
  transform: rotate(180deg);
  color: #407bff;
}

.pagination-number {
    display: flex;
    border-radius: 50%;
    background: #e1e1e1;
    margin-right: 3px;
    padding: 9px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
  

}

.pagination-item{
  border-radius: 50%;
  padding:10px;
  background: #e1e1e1;
  margin-right: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.activeNumber {
  cursor: pointer;
  background-color: #407bff;
  border: 1px solid rgb(0, 0, 0);
}

.pagination-arrow-next {
  padding-left: 5px;
  color: #407bff;
}

.inactiveArrow {
  color: #e1e1e1;
  pointer-events: none;
}

.activeArrow {
  cursor: pointer;
  color: #407bff;
}


@media screen and (min-width: 768px) {
  .pagination-arrow-previous {
    margin-right: 25px;

  }

  .pagination-number {
    display: flex;

  }

  .pagination-number button {
    margin-right: 10px;
  
  }

  .pagination-arrow-next {
    padding-left: 15px;
  }

}
