.pagination-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.pagination-arrow-previous {
  margin-right: 15px;
  transform: rotate(180deg);
}

.pagination-number {
  display: flex;
    border-radius: 50%;
    background: #e1e1e1;
    margin-right: 5px;
    padding: 9px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #ffffff;
  

}

.activeNumber {
  cursor: pointer;
  background-color: #407bff;
}

.pagination-arrow-next {
  padding-left: 10px;
}

.inactiveArrow {
  color: #e1e1e1;
  pointer-events: none;
}

.activeArrow {
  cursor: pointer;
  color: #407bff;
}

@media screen and (min-width: 768px) {
  .pagination-arrow-previous {
    margin-right: 25px;

  }

  .pagination-number {
    display: flex;

    button {
      margin-right: 10px;
    
    }

  }

  .pagination-arrow-next {
    padding-left: 15px;
  }

}
