.price-container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  

  strong {
    height: 35px;
    text-align: start;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
    padding-right: 3px;

  }

  h4 {
    font-size: 25px;
    line-height: 41px;
    letter-spacing: -0.015em;
    color: #407bff;
  }

  span {
    font-size: 20px;
    line-height: 22px;
  }
}
