.nav-container {
  min-height: 70px;
  padding-left: 10px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.nav-logo-text {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: #ffffff;

}

.nav-logo-text:hover {
  color: #000;
}

.main-menu {
  width: 380px;
  display: flex;
  justify-content: space-between;

}

.main-menu li {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.5);
}

.main-menu li:hover {
  color: #000;
}

.main-menu .active {
  font-weight: bold;
  color: #ffffff;
}

.nav-login-logout {
  display: none;
}

@media screen and (min-width: 992px) {
  .nav-login-logout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-right: 20px;
    color: #ffffff;

  }

  .nav-login-logout span {
    margin-top: -8px;
    font-size: 14px;
  }

  .nav-login-logout .nav-login, .nav-logout{
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
  }
}
