.product-filter-search {
  flex: 1;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.form-filter-search {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.product-filter-input-search {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

.product-filter-input-search input {
  border: none;
}

.product-filter-input-search input:focus {
  box-shadow: none;
}

.product-filter-input-search input::placeholder {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #9e9e9e;
}

.filter-select-button {
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.filter-button {
  width: 40%;
}

.product-filter-input-search button {
  border: none;
  background: unset;
}

.filter-select-product {
  flex: 1;
  margin-right: 10px;
}

.select-filter-product__control {
  border: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  font-size: 16px;
  letter-spacing: -0.015em;
  color: #263238;
  padding-right: 10px !important;
}

.select-filter-product__value-container {
  height: 40px !important;
}

.select-filter-product__placeholder {
  color: #9e9e9e !important;
  padding-left: 15px !important;
}

.select-filter-product__indicator-separator {
  display: none;
}

@media screen and (min-width: 768px) {
  .form-filter-search {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .product-filter-input-search {
    flex: 1;
    height: 40px;
    margin-bottom: 0px;
  }

  .filter-select-button {
    margin-left: 10px;
    height: 40px;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .filter-button {
    width: 30%;
  }

  .filter-button-title {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .filter-button-title {
    display: unset;
  }

  .filter-button {
    width: 40%;
  }
}
