.container-new-product {
  display: flex;
}

.content-new-product {
  padding: 15px 20px 30px 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.title-new-product {
  display: flex;
  align-items: center;
  justify-content: start;

  .previous-new-product {
    transform: rotate(180deg);
    color: #407bff;
    margin-top: -8px;
    margin-right: 15px;
  }

  h2 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #263238;
  }
}

.input-new-product {
  input {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    border-radius: 10px;
  }

  input::placeholder {
    padding: 12px 15px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
  }
}

.description-new-product {
  width: 100%;
  margin-top: 30px;

  textarea {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #9e9e9e;
    margin-bottom: 30px;
  }
}

.buttons-new-product {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
