.container-user{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.container-user-filter{
  width: 100%;
  margin-bottom: 45px;

}

.table-user{
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding:10px 10px 0px 10px;
}


.table-name, .table-sobrename{
  display: none;
}

.table-user-header{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: -0.015em;
  color: #263238;
 
}

.table-user-body{
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.015em;
  color: #9E9E9E;

}

.table-user tr{
  border-bottom: 1px solid #E1E1E1;
}

.table-user-header td{
  padding: 10px 50px 20px 20px;
}    

.table-user-body .table-email{
  font-size: 12px;
  width:90%;
  word-break: break-all;
}

.button-user-delete{
  border: 1px solid #DF5753;
  border-radius:10px;
  font-size: 15px;
  padding: 10px;
  margin: 15px 20px 15px 0px;
  text-transform: uppercase;
  color: #DF5753;
  background: none;
   
} 

.carregando{
  display: flex;
  align-items:center;
  justify-content:center;
  padding: 40px;
}   

.format-name{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: none;
  
}

@media screen and (min-width: 768px){
  .table-user-body .table-email{
    font-size: 14px;
  }

  .table-user-body{
    font-weight: normal;
    font-size: 16px;
  }
}


@media screen and (min-width: 992px){
  .container-user-filter{
    width: 90%;
  
  }

  .table-user{
    max-width:900px;
  }

.table-user-header tr, .table-user-body tr{
  padding: 10px 20px;
}   

.table-name, .table-sobrename{
  display: unset;

}

.table-user-header .table-sobrename{

  margin:0px 50px;
}
 
.table-user-header tr, .table-user-body tr{
  display: flex;
  justify-content: space-around;
  align-items: center;
}   

.table-user-header td, .table-user-body td{
  text-align: center;
  width:25%;
}   

.table-user-body td{
  word-break: break-all;
}   

.table-user-body .table-email{
  width:25%;
  font-size: 17px;
  word-break: break-all;
}

.table-user-body{
  font-size: 17px;
   
}

.button-user-delete{
  border: 1px solid #DF5753;
  border-radius:10px;
  font-size: 15px;
  padding: 10px;
  margin: 15px 5px 15px 100px;
  text-transform: uppercase;
  color: #DF5753;
  background: none;
}

.format-name{
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px;
  border-bottom: none;
  
}
   

}

